/* * {
    border: 1px solid black;
} */

.container {
    max-width: 900px;
    margin: 0 auto;
    
}

header {
    padding: 2% 1% 4% 1%;
    background-color: #BBA8A2;
}

header nav {
    display: flex;

}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
    text-decoration: none;
    color: black;
    height: 2rem;
}

.nav-button {
    width: 12%;
}

/* Main content */

.intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.intro img {
    margin: 2% 0;
}

.intro img, .text-container {
    max-width: 100%;
    width: 48%;
}

.text-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    
    width: 40%;
    padding: 0 4%;
}

#projects-button {
    width: 42%;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.image-container {
    width: 23%;
}

.image {
    max-width: 100%;
}

.caption {
    text-align: center;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    height: 25vh;
    padding-bottom: 2%;
    background-color: #BBA8A2;
}

#contact-button {
    width: 20%;
    height: 2.5rem;
}