/* * {
    border: 1px solid black;
} */

.container {
    max-width: 900px;
    margin: 0 auto;
    
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
    padding: 2% 4% 4% 4%;
    background-color: #BBA8A2;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
    text-decoration: none;
    color: black;
    height: 2rem;
}

.nav-button {
    width: 11%;
}

.intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.intro img {
    max-width: 100%;
    width: 48%;
    margin: 2% 0;
}

.text-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    
    width: 40%;
    padding: 0 4%;
}

#projects-button {
    width: 42%;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.image-container {
    width: 23%;
}

.image {
    max-width: 100%;
}

.caption {
    text-align: center;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    height: 25vh;
    padding-bottom: 2%;
    background-color: #BBA8A2;
}

#contact-button {
    width: 20%;
    height: 2.5rem;
}

/* @media for responsive design */

@media (max-width: 800px) {
    html {
        text-align: center;
    }

    header nav {
        flex-flow: column nowrap;
        align-items: center;
    }

    .link-button {
        width: 33%;
    }


    .intro img, .text-container {
        width: 96%;
    }

    .text-container {
        justify-content: center;
        align-items: center;
    }

    .gallery {
        justify-content: space-evenly;
    }

    .image-container {
        width: 46%;
    }

}

@media (max-width: 500px) {

}